.content {
    background: rgb(26, 30, 80);
    /* background: linear-gradient(45deg,
            rgba(26, 30, 80, 1) 0%,
            rgba(46, 87, 126, 1) 50%,
            rgba(57, 108, 144, 1) 100%); */
    color: var(--white);
}

.chart {
    background-color: var(--dark-grey);
    color: var(--white);
    border: solid var(--teal) 2px;
}

.candle {
    stroke-width: 1;
}

.candle.up {
    fill: var(--teal);
    stroke: var(--teal);
}

.candle.down {
    fill: var(--red);
    stroke: var(--red);
}

.wick {
    stroke-width: 1.5;
}

.wick.up {
    stroke: var(--teal);
}

.wick.down {
    stroke: var(--red);
}

.cross_hair {
    stroke: var(--white);
    stroke-opacity: 70%;
    stroke-dasharray: 3;
}