.stock-card-root {
    color: var(--dark-grey);
    font-weight: bold;
    font-size: 20pt;
    display: flex;
    gap: 1rem;
    margin: auto;
    width: fit-content;
}

.stock-card-root .stock-card {
    /* margin: 1rem auto; */

    width: 250px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;
    background-image: radial-gradient(circle, #52b5fa, #41aefc, #2fa6fd, #1b9efe, #0096ff);
    /* background-color: var(--teal); */
    border-radius: 5px;
    align-items: center;

    height: 52px;

    cursor: pointer;
}

.stock-card-root .stock-card.owned {
    background-image: radial-gradient(circle, #4dc6c1, #41c1bb, #33bcb6, #22b7b0, #00b2aa);
}

.stock-card-root .stock-card:hover {
    background-color: var(--blue);
}

.stock-card-root .symbol-wrapper {
    text-align: left;
}

.stock-card-root .symbol {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
}

.stock-card-root .name {
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.stock-card-root .value {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 22pt;
}

.stock-card-root button {
    height: 4rem;
    margin: 0 1.5rem;
}

.stock-card-main .stock-card-heart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 0 1rem;
}

.stock-card-main .heart {
    width: fit-content;
    margin-left: 0;
}

.stock-card-main .heart>* {
    color: var(--light-grey);
    font-size: 2rem;
    cursor: pointer;
}

.stock-card-main .heart.no-click>*:hover {
    color: var(--dark-grey);
}

.stock-card-main .heart>*:hover {
    transition: .3s;
    transform: translateY(-3px);
}

.stock-card-main .clicked>* {
    color: var(--orange);
}


.stock-history-root.desktop {
    position: relative;
    height: 300px;
}

.stock-history-root.mobile {
    position: relative;
    height: 150px;
}

.stock-history-root.desktop .load-main {
    position: absolute;
    top: -200px;
    left: -360px;
}

.stock-history-root.mobile .load-main {
    position: absolute;
    top: -370px;
    left: -70px;
}

.stock-card-main .shares {
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stock-card-main input {
    width: 150px;
}

.stock-card-main button {
    margin: 0 1.5rem;
}

.stock-card-main p.name {
    text-align: right;
    color: var(--white);
    font-weight: 400;
}

.stock-card-main .shares-card {
    font-size: 12pt;
    text-align: right;
    color: var(--white);
}

.stock-card-root .arrow {
    color: var(--white);
    padding-left: .5rem;
}

.stock-card-root .arrow.negative {
    color: var(--red);
}

.stock-card-root .value-arrow-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}