.stock-card-root {
    color: var(--dark-grey);
    font-weight: bold;
    font-size: 20pt;
    display: flex;
    gap: 1rem;
    margin: auto;
    width: fit-content;
}

.stock-card-root .stock-card {
    /* margin: 1rem auto; */

    width: 250px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem;

    background-color: var(--teal);
    border-radius: 5px;
    align-items: center;

    cursor: pointer;
}

.stock-card-root .stock-card:hover {
    background-color: var(--blue);
}

.stock-card-root .symbol-wrapper {
    text-align: left;
}

.stock-card-root .symbol {
    font-weight: bold;
}

.stock-card-root .value {
    font-weight: 800;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 25pt;
}

.stock-card-root button {
    height: 4rem;
    margin: 0 1.5rem;
}

.stock-card-main .stock-card-heart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    width: fit-content;
    margin: auto;
    padding: 0 1rem;
}

.stock-card-main .heart {
    width: fit-content;
    margin-left: 0;
}

.stock-card-main .heart>* {
    color: var(--light-grey);
    font-size: 2rem;
    cursor: pointer;
}

.stock-card-main .heart.no-click>*:hover {
    color: var(--dark-grey);
}

.stock-card-main .clicked>* {
    color: var(--orange);
}


.stock-history-root.desktop {
    position: relative;
    height: 300px;
}

.stock-history-root.mobile {
    position: relative;
    height: 150px;
}

.stock-history-root.desktop .load-main {
    position: absolute;
    /* bottom: 600px; */
    top: -200px;
    left: -360px;
    /* width: fit-content;
    align-items: center;
    border: solid green 1px; */
}

.stock-history-root.mobile .load-main {
    position: absolute;
    top: -370px;
    left: -70px;
}

.stock-card-main p {
    color: var(--white);
}

.stock-card-main input {
    width: 150px;
}

.stock-card-main button {
    margin: 0 1.5rem;
}