.nav-page-root {
    position: relative;
}

.nav-page-root .search-wrapper {
    position: relative;
    /* border: solid green 1px; */
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
}

.nav-page-root .magnifying-glass {
    position: absolute;
    bottom: 0.3rem;
    right: .5rem;
    font-size: 14px;
    color: var(--teal);

    cursor: pointer;
}

.liked-stocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.nav-page-root .search {
    width: 250px;
}