.paper-trade-page-root .money {
    color: var(--dark-grey);
    font-size: 4rem;
    padding: 0 2rem 0 6rem;
    /* top right bottm left*/
    margin: 0;
    text-align: left;
    width: fit-content;
}

.paper-trade-page-root.mobile .money {
    font-size: 3rem;
    padding: 0 2rem 0 2.5rem;
}

.paper-trade-page-root .value-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 1rem;
}

.paper-trade-page-root .value-wrapper>*>* {
    margin-top: 7px;
}

.paper-trade-page-root .percent {
    color: var(--teal);
}

.paper-trade-page-root .negative {
    color: var(--red);
}

.paper-trade-page-root .start-money {
    text-align: left;
    padding-left: 6.2rem;
    margin: 0;
}

.paper-trade-page-root.mobile .start-money {
    text-align: left;
    padding-left: 2.8rem;
    margin: 0;
}