:root {
    --nav-height: 40px;
}

nav {
    font-size: 24pt;
    font-family: "LeagueGothic", "Helvetica Neue", "Helvetica", "Arial";

    background-color: var(--teal);
    box-shadow: 0 4px 6px 0 #b7b7b77f;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 7px;

    user-select: none;
    height: var(--nav-height);
}

nav .left {
    display: flex;
    gap: 1rem;
    font-size: 20px;
    margin-left: 1.5rem;
}

nav .right {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 20px;
    margin-right: 1.5rem;

}

nav .center {
    display: flex;
    gap: 3rem;
    font-size: 20px;
}

nav>*>*:hover {
    color: var(--orange);
    transform: translateY(-1.5px);
    transition: .2s;
}

nav>*>*:active {
    transform: translateY(2px) scale(.9);
    transition: .2s;
}