:root {
    --nav-height: 45px;
    --pathOpacity: 0;
}

nav {
    font-size: 24pt;
    font-family: "LeagueGothic", "Helvetica Neue", "Helvetica", "Arial";

    background-color: var(--teal);
    box-shadow: 0 4px 6px 0 #b7b7b77f;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 7px;

    user-select: none;
    height: var(--nav-height);
}

nav .left {
    display: flex;
    gap: 1rem;
    font-size: 20px;
    margin-left: 1.5rem;
}

nav .right {
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 20px;
    margin-right: 1.5rem;

}

nav .center {
    display: flex;
    gap: 3rem;
    font-size: 20px;
}

.nav-root>*>* {
    transform: translateY(4px);
}

nav>*>*:hover {
    color: var(--orange);
    transform: translateY(-1.5px);
    transition: .2s;
}

nav>*>*:active {
    transform: translateY(2px) scale(.9);
    transition: .2s;
}

.nav-root .image {
    max-width: 1.3em;
    height: auto;
    margin-bottom: 0;
    filter: invert(27%) sepia(8%) saturate(1190%) hue-rotate(181deg) brightness(92%) contrast(92%);
}

.nav-root .home {
    align-items: center;
}

.nav-root .image:hover {
    filter: invert(53%) sepia(20%) saturate(6017%) hue-rotate(347deg) brightness(98%) contrast(89%);
    opacity: .85;
}

.nav-root .hoverable:hover {
    --pathOpacity: 1;
    transition: .2s;
}

.nav-root .path {
    margin: 0 0 0 0;
    font-size: .7rem;
    transition: .3s;
    opacity: var(--pathOpacity);
    color: var(--dark-grey);
}